# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Autobarn.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\workshops\dsnet-workshop-20210410\Autobarn\.idea\.idea.Autobarn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
